<title>CENO Browser | CENO in the News</title>
<div class="container-md section">
    <h1><i class="fas fa-bullhorn fa-lg"></i> CENO in the News</h1>

<section>
    <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <a href="https://www.wired.com/story/whatsapp-proxy-internet-censorship/" target="_blank"> <div class="card">
                <div class="card-body">
                        <img style="height:230px" class="mt-3 mb-3" src="https://media.wired.com/photos/63b6f35a995aa119ba7ba739/master/w_2560%2Cc_limit/whatsapp-proxy.jpg" style="text-align:center">
                <h4 class="pt-3 card-title">WhatsApp Launches a Tool to Fight Internet Censorship</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">January 5th, 2023</p>
               </div>
               </div>
            </div>
           </a></div>
	   </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
	     <div class="card">
              <a href="https://www.businessinsider.com/samizdat-online-banned-media-russia-2022-9" target="_blank"> <div class="card">
                <div class="card-body">
                        <img style="height:230px" class="mt-3 mb-3" src="https://i.insider.com/631072803e08f700196c4ea3?width=1300&format=jpeg&auto=webp"style="text-align:center">
                <h4 class="pt-3 card-title">A new media project is working to sneak blocked media into Russia and wants to become a hub for press freedom in totalitarian regimes</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">September 1st, 2022</p>
               </div>
               </div>
            </div>
           </a></div>
	   </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
	     <div class="card">
              <a href="https://www.unian.ua/techno/brauzer-ceno-yak-nim-koristuvatisya-i-v-chomu-yogo-osoblivosti-11938653.html" target="_blank"> <div class="card">
                <div class="card-body">
                        <img style="height:230px" class="mt-3 mb-3" src="https://images.unian.net/photos/2022_04/1650118045-8695.jpg?r=354301" style="text-align:center">
                <h4 class="pt-3 card-title">The CENO browser is gaining popularity on the Internet - everything opens with it without a VPN</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">August 12th, 2022</p>
               </div>
               </div>
            </div>
           </a></div>
	   </div>
	  </div>
	  <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <a href="https://rubryka.com/ua/article/equalitie-vitaliev/" target="_blank"> <div class="card">
               <div class="card-body">
                        <img style="height:200px" class="mt-3 mb-3" src="../img/rubryka-cover.jpg" style="text-align:center">
                <h4 class="pt-3 card-title">How a Canadian organization is creating a digital security emergency service for Ukrainians</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">July 25th, 2022</p>
               </div>
            </div>
           </div>
         </a></div>
      </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
	     <div class="card">
              <a href="https://goodmenproject.com/featured-content/resources-to-support-human-rights-online-during-the-invasion-of-ukraine/" target="_blank"> <div class="card">
                <div class="card-body">
                        <img style="height:230px" class="mt-3 mb-3" src="https://goodmenproject.com/wp-content/uploads/2022/04/iStock-1358189300-768x461.jpg.webp"style="text-align:center">
                <h4 class="pt-3 card-title">Resources to Support Human Rights Online During the Invasion of Ukraine</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">April 12th, 2022</p>
               </div>
               </div>
            </div>
           </a></div>
	   </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
	     <div class="card">
              <a href="https://www.revyuh.com/news/software/apps/if-they-turn-off-the-internet-how-to-stay-connected-in-case-of-an-emergency/" target="_blank"> <div class="card">
                <div class="card-body">
                        <img style="height:230px" class="mt-3 mb-3" src="https://www.revyuh.com/wp-content/uploads/2022/02/If-they-turn-off-the-Internet-how-to-stay-connected-in-case-of-an-emergency.jpg" style="text-align:center">
                <h4 class="pt-3 card-title">If they turn off the Internet: how to stay connected in case of an emergency</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">February 24th, 2022</p>
               </div>
               </div>
            </div>
           </a></div>
	   </div>
	 </div>
	   <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <a href="https://www.pbs.org/newshour/show/how-a-fight-over-anti-censorship-funding-became-a-symbol-of-trump-administration-turmoil" target="_blank"> <div class="card">
               <div class="card-body">
                        <img style="height:200px" class="mt-3 mb-3" src="https://image.pbs.org/video-assets/dzEKpv7-asset-mezzanine-16x9-xAiDHIW.jpg?crop=1920x1080&format=auto" style="text-align:center">
                <h4 class="pt-3 card-title">How a fight over anti-censorship funding became a symbol of Trump administration turmoil (PBS NewsHour)</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">February 12, 2021</p>
               </div>
            </div>
           </div>
         </a></div>
      </div>
    </div>
    </div>
   </section>

	<p style="text-align:center">For press and media inquiries, please contact Jenny Ryan at: press [at] equalitie [dot] org</p>

</div> <!--end container section-->
