<title>CENO Browser | Brand and Style Guide</title>
<div class="container-md section">
    <h1>Brand and Style Guide</h1>

 <h2>Logo</h2>
	<p>In order to preserve accessibility, the color version must be used in white backgrounds and the opposite.</p>
<div class="row">
   <div class="col-lg-6"><h3 style="padding-bottom:20px">Logo</h3>
	<p><img class="hasBorder" src="../img/logo_color.png" style="padding:30px; height:155px; background-color:white"></p>
        <p><img class="hasBorder" src="../img/logo_white.png" style="padding:30px; height:155px; background-color:#0EA5E9"></p>
   </div>
   <div class="col-lg-4"><h3 style="padding-bottom:20px">Logo Icon</h3>
	<p><img class="hasBorder" src="../img/logo_icon_color.png" style="padding:30px; background-color:white; height:155px"></p>
        <p><img class="hasBorder" src="../img/logo_icon_white.png" style="padding:30px; height:155px; background-color:#0EA5E9"></p>
   </div>
</div>

 <h2>Colors</h2>
        <p>These are the colors that represent Ceno’s brand identity.</p>
    <div class="container py-3" style="align-content:center; justify-content;">
        <!--div class="card border-0"-->
      <div class="row">
          <div class="col-lg-4"><h3 style="padding-bottom:20px">Primary Color</h3>
           <div class="card">
            <div class="card-body" style="background-color:#0EA5E9; border-radius:15px">
              <h3 class="card-title" style="color:white">Light Blue</h3>
              <p class="card-text" style="color:white">#0EA5E9</p>
            </div>
           </div>
          </div>
          <div class="col-lg-4"><h3 style="padding-bottom:20px">Secondary Color</h3>
           <div class="card">
            <div class="card-body" style="background-color:#F97316; border-radius:15px">
              <h3 class="card-title" style="color:white">Orange</h3>
              <p class="card-text" style="color:white">#F97316</p>
            </div>
           </div>
          </div> <!-- end card 2 -->
      </div>
    </div>


 <h2>UI Colors</h2>
        <p>For accessibility and readability reasons, here’s the extended Color Palette of 10 different shades of both brand
	colors. When colors are used in text, according to Web Content Accessibility Guidelines (WCAG) 2, Level AA requires
	the contrast ratio to be at least 4.5:1. Any color of the palette can be used if this requirement is met.</p>

    <!--div class="container py-5" style="align-content:center; justify-content;">
        <!--div class="card border-0"-->
      <div class="row">
          <h3 style="padding-bottom:20px">Light Blue</h3>
	  <div class="col-lg-2" style="color:black">
           <div class="card border-0">
            <div class="card-body" style="background-color:#F0F9FF; border-radius:15px">
              <p class="card-text" style="align-left">50</p>
	      <p class="card-text" style="align-right">#F0F9FF</p>
            </div>
           </div>
	   <div class="card border-0">
            <div class="card-body" style="background-color:#0EA5E9; border-radius:15px; color:white">
              <p class="card-text" style="align-left">500</p>
              <p class="card-text" style="align-right">#0EA5E9</p>
            </div>
           </div>
	</div>
          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#E0F2FE; border-radius:15px">
              <p class="card-text" style="align-left">100</p>
              <p class="card-text" style="align-right">#E0F2FE</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#0284C7; border-radius:15px; color:white">
              <p class="card-text" style="align-left">600</p>
              <p class="card-text" style="align-right">#0284C7</p>
            </div>
           </div>
        </div>

          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#BAE6FD; border-radius:15px">
              <p class="card-text" style="align-left">200</p>
              <p class="card-text" style="align-right">#BAE6FD</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#0369A1; border-radius:15px; color:white">
              <p class="card-text" style="align-left">700</p>
              <p class="card-text" style="align-right">#0369A1</p>
            </div>
           </div>
        </div>

          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#7DD3FC; border-radius:15px">
              <p class="card-text" style="align-left">300</p>
              <p class="card-text" style="align-right">#7DD3FC</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#075985; border-radius:15px; color:white">
              <p class="card-text" style="align-left">800</p>
              <p class="card-text" style="align-right">#075985</p>
            </div>
           </div>
        </div>

          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#38BDF8; border-radius:15px">
              <p class="card-text" style="align-left">400</p>
              <p class="card-text" style="align-right">#38BDF8</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#0C4A6E; color:white; border-radius:15px">
              <p class="card-text" style="align-left">900</p>
              <p class="card-text" style="align-right">#0284C7</p>
            </div>
           </div>
        </div>
     </div>
      <div class="row">
          <h3 style="padding-bottom:20px; padding-top:30px">Orange</h3>
          <div class="col-lg-2" style="color:black">
           <div class="card border-0">
            <div class="card-body" style="background-color:#FFF7ED; border-radius:15px">
              <p class="card-text" style="align-left">50</p>
              <p class="card-text" style="align-right">#FFF7ED</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#F97316; border-radius:15px; color:white">
              <p class="card-text" style="align-left">500</p>
              <p class="card-text" style="align-right">#F97316</p>
            </div>
           </div>
        </div>
          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#FFEDD5; border-radius:15px">
              <p class="card-text" style="align-left">100</p>
              <p class="card-text" style="align-right">#FFEDD5</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#EA580C; border-radius:15px; color:white">
              <p class="card-text" style="align-left">600</p>
              <p class="card-text" style="align-right">#EA580C</p>
            </div>
           </div>
        </div>

          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#FED7AA; border-radius:15px">
              <p class="card-text" style="align-left">200</p>
              <p class="card-text" style="align-right">#FED7AA</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#C2410C; border-radius:15px; color:white">
              <p class="card-text" style="align-left">700</p>
              <p class="card-text" style="align-right">#C2410C</p>
            </div>
           </div>
        </div>
          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#FDBA74; border-radius:15px">
              <p class="card-text" style="align-left">300</p>
              <p class="card-text" style="align-right">#FDBA74</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#9A3412; border-radius:15px; color:white">
              <p class="card-text" style="align-left">800</p>
              <p class="card-text" style="align-right">#9A3412</p>
            </div>
           </div>
        </div>

          <div class="col-lg-2">
           <div class="card border-0">
            <div class="card-body" style="background-color:#FB923C; border-radius:15px">
              <p class="card-text" style="align-left">400</p>
              <p class="card-text" style="align-right">#FB923C</p>
            </div>
           </div>
           <div class="card border-0">
            <div class="card-body" style="background-color:#7C2D12; color:white; border-radius:15px">
              <p class="card-text" style="align-left">900</p>
              <p class="card-text" style="align-right">#7C2D12</p>
            </div>
           </div>
        </div>
     </div>


<h2>Typography</h2>

<div class="row">
   <div><p style="font-family:Metropolis; padding-top:0px; font-size:1.8em">Primary</p>
        <p style="font-family:Metropolis"><strong>Metropolis</strong> is used as primary font of the visual identity. It can be used in
lower and upper cases. It comes with a family of styles. This font is used
in texts such as titles and headers.</p>
   </div>

<div class="row">
   <div><p style="font-family:Inter; font-size:1.8em">Secondary</p>
        <p style="font-family:Inter"><strong>Inter</strong> is used as secondary font of the visual identity. It can be used in
lower and upper cases. It comes with a family of styles. This font is used
in texts such as body texts.</p>
   </div>
</div>

</div> <!--end container section-->
</div>
