<title>CENO Browser | eQualitie launches CENO, world’s first decentralized p2p mobile browser</title>
<div class="container-md section">

    <div style="text-align:center"><img src="../img/sharetheweb-orange.png" style="height:300px">
    <h2>eQualitie launches CENO, world’s first decentralized p2p mobile browser</h2>
	<h3>CENO Browser lets anyone access and share information in areas with censored communications</h3>
    </div>
	<p><strong>Montreal, May 10, 2022</strong> – eQualitie, developer of open-source and reusable digital security systems, is pleased to announce the public launch of its newest democratization tool, CENO Browser. Short for <strong>ce</strong>nsorship.<strong>no</strong>, CENO is the world’s first mobile browser that is built specifically to side-step current Internet censorship methods. It also enables people to access and share information in and across regions where connectivity has been interrupted or compromised.</p>
	<p>CENO uses established technologies in new ways. While the user experience is akin to using a standard mobile browser, CENO operates over a peer-to-peer (p2p) network on the open-source Ouinet library and BitTorrent protocols, allowing it to run reliably where other browsers might not or do not. Because the web content is delivered, cached and decentralized via p2p routing, it cannot be forcibly removed by external agents. Furthermore, CENO is equipped to access and share cached content offline and via local area networks (LANs). CENO’s resiliency makes it ideal for those who need stable access to and sharing capabilities of web information during media censorship events, filtering, attacks, shutdowns, natural disruptions, unrest, conflict and war. CENO’s routing and distribution can also significantly reduce bandwidth consumption and associated costs.</p>
	<p>“CENO holds great promise and launches at an opportune time for those engaged in democracy movements and activities,” says Dmitri Vitaliev, founder and director of eQualitie. “It is already helping thousands of civilians, NGOs, investigative journalists and independent media internationally to share information on their mobile devices.”</p>
	<p>CENO is currently being used by hundreds of thousands of people globally, including in Myanmar and Iran, where the military junta and regime routinely disregard the notion of digital rights; in Ukraine, where Russia’s invading army has damaged or destroyed local Internet infrastructures; and in Russia, where an evolving grip of censorship is tightening. CENO works on Android devices, and is available for download on <a href="https://censorship.no/download">the CENO website</a>, <a href="https://play.google.com/store/apps/details?id=ie.equalit.ceno">Google Play</a>, <a href="https://github.com/censorship-no/ceno-browser/releases">GitHub</a>, <a href="https://paskoocheh.com/tools/124/android.html?utm_source=UpdatePage">Paskoocheh</a> and <a href="https://zanga.tech/tools/166/android.html?">Zanga.tech</a>. It is one of several digital democratization apps envisioned and developed by eQualitie.</p>
	<p>For more information, <a href="factsheet.html">access the CENO fact sheet</a>.</p>

	<h3>About eQualitie</h3>
	<div class="row">
	<div class="col-lg-2"><img src="../img/eq_logo_small_transparent.png" style="width:80%"></div>
	<div class="col-lg-10"><p>Founded and led by Dmitri Vitaliev since 2010, Montreal-based eQualitie is inspired by the principles of freedom of expression and association as defined in Articles 18, 19 and 20 of the UN’s Universal Declaration of Human Rights. Headquartered in Montreal, eQualitie’s team is distributed globally, including on the ground in censored and conflict areas. eQualitie is funded by public grants, private foundations and revenue generated from commercial activities. For more information, visit <a href="https://equalit.ie">https://equalit.ie.</a> </p></div>
	</div>

	<h3>Press Contact</h3>
	<p>For press and media inquiries, please contact Jenny Ryan: press [at] equalitie [dot] org.</p> 

	<p><a href="../img/equalitie-launches-ceno.pdf"><img src="../img/downloadpdf.jpg" style="width:50px"></a> Download PDF</p>

</div> <!--end container section-->
