<title>CENO Browser | Fact Sheet</title>
<div class="container-md section">
    <h1>CENO Fact Sheet</h1>

<section>

<p><a href="../img/factsheet.pdf" target="_blank"><img src="../img/downloadpdf.jpg" style="width:50px"></a> Download PDF</p>

<h2>Overview</h2>
 <h3>What is CENO?</h3>
	<p>The world’s first mobile browser that circumvents current Internet censorship methods and local Internet outages using peer-to-peer (p2p) technology</p>

 <h3>CENO stands for:</h3>
    <ul>
        <li><strong>ce</strong>nsorship.<strong>no</strong>, envisioned as part of an Internet that is free of intrusive and unjustified surveillance, censorship and oppression</li>
	<li>Developed and launched by <a href="https://equalit.ie">eQualitie</a></li></ul>

 <h3>Works on:</h3>
        <p>Android mobile devices </p>

 <h3>Get it on:</h3>
    <ul>
        <li><a href="https://censorship.no/download">CENO website</a>, <a href="https://play.google.com/store/apps/details?id=ie.equalit.ceno">Google Play</a>, <a href="https://github.com/censorship-no/ceno-browser/releases">Github</a>, <a href="https://paskoocheh.com/tools/124/android.html?">Paskoocheh</a>, and <a href="https://zanga.tech/tools/166/android.html">Zanga.tech</a></li>
	<li>No special permissions are required</li></ul>

 <h3>Why:</h3>
    <ul>
        <li>Designed to allow people anywhere in the world to access web content in censored or Internet-restricted regions, and in countries where connectivity is unreliable or costly</li>
	<li>Can be used to create a bridge for others to access censored or restricted content</li></ul>

 <h3>So what?</h3>
    <ul>
	<li>Already helping thousands of civilians, NGOs, investigative journalists and independent media globally to access and share web content</li>
	<li>CENO content remains stable and cannot be forcibly removed by external agents, even during media censorship events, shutdowns, natural disruptions, unrest, conflict, and war</li>
	<li>CENO’s p2p routing and distribution of storage can reduce bandwidth and energy use</li>
	<li>Performance improves with scale (unlike the proxy/virtual private network (VPN) model); more users reduces latency and increases storage</li></ul>

 <h3>How:</h3>
    <ul>
	<li>Works like BitTorrent - pulling, reserving and sharing content from many networked sources rather than from one web server source - but is a browser</li>
	<li>Underlying decentralized p2p network uses established open-source Ouinet library and BitTorrent protocols, making it resilient and reliable</li>
	<li>Looks and feels like other browsers</li>
	<li>Equipped to share cached content offline and on local area networks (LANs)</li></ul>

 <h3>Who is eQualitie?</h3>
    <ul>
        <li>Montreal-based digital security firm that has developed open-source and reusable systems and tools since 2010, with a focus on online privacy, resilience and self-determination</li>
	<li>Maintains the <a href="https://deflect.ca">Deflect.ca</a> service</li>
	<li>Leads several initiatives focused on free and secure communications in authoritarian states</li>
	<li>Founded by Dmitri Vitaliev</li></ul>

 <h3>In use today:</h3>
    <ul>
        <li><strong>Average monthly users:</strong> 10,000+</li>
	<li><strong>New monthly users:</strong> 10,000</li>
	<li><strong>Majority users by country:</strong> Ukraine 48%; Russia 17%; Iran 15%; Myanmar 5%; Poland, US and Germany 3%</li></ul>
</section>

<section>
<h2>How CENO Works</h2>
    <div class="container py-3 px-2">
	<div class="row">
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-3.png" style="text-align:center" width="87%">
                <p style="padding-top:20px;">A mobile user in NYC reads a BBC.com news article on her CENO Browser.</p>
              </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="https://censorship.no/user-manual/en/concepts/images/user-flow-3.svg" style="text-align:center" width="91%">
                <p style="padding-top:20px;">CENO signs, caches and decentralizes the article content.</p>
              </div>
             </div>
           </div>

          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-4.png" style="text-align:center" width="70%">
                <p style="padding-top:20px;">CENO users everywhere access and read the same article on their mobiles, despite censorship or outages, and thereby share it with other CENO users.</p>
              </div>
             </div>
           </div>
	</div>
	<center><a href="../user-manual/en/" style="text-align:center"><button class="btn btn-outline-danger btn-learnmore mt-3 mb-3" type="button" style="text-align: center;"><span class="fas fa-book"></span>  Learn more in the User Manual!</button></a></center>
     </div>
</section>

<section>
<h2>Numbers</h2>

<h3>CENO to April 2022</h3>
    <ul>
	<li>Downloads from Google Play Store: 33,297 </li>
	<li>Installs from alternative marketplaces: 6,514</li>
	<li>Pulls from Docker Hub: 597</li>
	<li>Cloned from GitHub repositories: 1,768</li>
	<li>Unique participants in March 2022: 28,914</li>
	<li>CENO bridges worldwide: 25 (6 in Ukraine, 9 in Russia and others in the Middle East, Eastern Europe and Asia)</li>
	<li>Bootstrap servers to ensure that in-country nodes can use BitTorrent during complete network shutdowns: 8 (in Eastern Europe, Myanmar, Iran and Russia)</li></ul>

<h3>CENO Analytics</h3>
	<p>The CENO browser displays the resources provided directly from the origin to each user (served via injectors and received from the p2p network) and how much each user’s specific device has shared with other users. </p>
	<p>Key performance metrics for a CENO white-label release include (i) the number of reachable bridge nodes and origin sources in the DHT, and (ii) the bandwidth and number of distinct web resources served by injector servers. </p>
	<p>Other metrics can be designed and developed for greater visibility and performance measurement, taking into account CENO’s decentralization function. Without identifying users, it is possible to closely estimate participation through (i) pseudonymous network identifiers and their usage of network injectors, (ii) country of origin and (iii) queries of the distributed hash table for unique device identifiers.</p>
	<p>Integration of the Clean Insights SDK is being explored as a way to give users robust privacy-respecting analytics that measure metrics including distributed cache usage from the user’s vantage point.</p>

<h3>Ouinet in April 2022</h3>
	<p>Ouinet’s injectors introduced approximately 2 million pages (602 GB of data) to the decentralized content-sharing network, from more than 30,000 unique websites.</p>
</section>

<section>
<h2>Internet shutdowns</h2>
        <p>Internet shutdowns is a broad term covering various Internet access restriction scenarios. Precise technical information on shutdowns is often missing from media coverage. A shutdown can refer to the following:
    <ul>
        <li><strong>Level 1:</strong> A complete or partial failure of Internet services, occurring due to censorship, cyberattacks, natural disasters, police or security services actions or errors. CENO deals with scenarios of extreme network censorship, when VPNs are generally no longer available (e.g., Russia in 2022, Belarus in 2020 and Iran in 2019) or when international transit connections are artificially throttled (e.g., Indian Kashmir in 2019–2020 and Cuba). </li>
        <li><strong>Level 2:</strong> A ban on international transit connections (e.g., Kazakhstan in 2021), such that no servers or services located outside the country are accessible, yet the local or national network continues to function. CENO continues to work in these localized scenarios.</li>
        <li><strong>Level 3:</strong> When electricity no longer functions, such as during national disasters and in wartime (e.g., Mariupol in 2022). CENO still works peer to peer when devices remain powered and are in close proximity.</li></ul></p>

        <p>A growing number of countries have introduced sophisticated surveillance and network filtering technologies to undermine existing censorship circumvention methods, and to restrict communications and the free flow of information on the Internet. Some have resorted to cutting off entire networks – across neighborhoods, regions and nations – from international connectivity. </p>
        <p>Most circumvention techniques in use today require the user to first connect to a relay located in an uncensored zone. The resulting “cat and mouse” game between censor and circumvention method (with
the latter resorting to creative proxy distribution, traffic obfuscation, collateral damage, partnerships with ISP for refraction networking, and so on) is no longer sufficient to ensure connectivity and digital content propagation.</p>

<h3>How CENO side-steps censorship</h3>
        <p>Ultimately, existing censorship methods have a single point of failure: users need to penetrate a firewall where the censor is watching. As witnessed in Iran in November 2019, Belarus in 2020, Kazakhstan in 2021 and during the ongoing disconnection of unfettered Internet access in Russia this year, circumvention methods increasingly do not work for users in these countries. CENO has proven itself as a functioning solution in these environments. Wider adoption will ensure more efficient, low latency and effective decentralized peer-to-peer communications and distributed caching.</p>
</section>

<section>
<h2>User comments</h2>
<h3>Russia</h3>
        <p>“Nice browser. Without VPN I was able to open blocked resources. But it's also useful when you don't have connection.”</p>
	<p>“Because Russia threatens to block VPNs, CENO is promising. Also because for your ISP it's like some Torrent traffic, and torrents are something very normalized in Russia unlike western countries where copyright is really respected. Also in Moscow police started asking people to show their phones and they look at apps that you have. I had this kind of control. They look at VPNs or messengers like Signal or Telegram. And CENO looks like a normal browser, so when they asked what it is I said it is a browser, no problem, no questions. I just chose to regularly clear browsing history at exit. So besides helping to access websites, it also looks quite innocent which is great.”</p>
	<p>“Thanks for a great product. Your browser opens the site http://meduza.io much faster than the app from @meduzaproject.”</p>

<h3>Myanmar</h3>
	<p>“There was a lot of inconvenience due to the blocked websites. It's good to see that it works well with this app. This is our digital rights. So I will continue to use it sometimes.”</p>
	<p>“There are more features I'd like to see in the app, but it is totally a convenient and useful application.”</p>

<h3>Iran</h3>
	<p>“This app is one of our few hopes in times of serious Internet disruptions in Iran. Please keep it going and make it better and better. Thank you.”</p>
	<p>“It is a good browser, especially for us Iranians, who do not have the possibility of free use of the Internet and everything is filtered by the government, even filter breakers.”</p>

</section>

</div> <!--end container section-->
