<title>CENO Browser | Community</title>
<div class="container-md section">
    <h1>Get Involved!</h1>
	<p>We'd love your support in making CENO Browser as useful and accessible as possible. CENO is a completely Free/Libre/Open Source project, and there are many ways to contribute!</p>


<section>
    <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                <i class="fas fa-globe fa-5x" style="color:#EA580C"></i>
                <h4 class="pt-3 card-title">Translations</h4>
            <p> <img style="width:150px" src="https://hosted.weblate.org/widgets/censorship-no/-/svg-badge.svg"></p>
        <p class="card-text">Help translate the CENO Browser app, web extension, user manual and website! We use Weblate to crowdsource translations.</p>
            <p>Please contact the CENO team at cenoers [at] equalit [dot] ie (or the contact form below) if you're interested in becoming a reviewer for translation(s) in your language(s).</p>
            <p>For more information about how to use Weblate, see <a href="https://docs.weblate.org/">the Weblate documentation.</a></p>
                <div class="d-grid gap-2 justify-content-center">
                <a href="https://hosted.weblate.org/projects/censorship-no/#information" target="_blank" style="text-align:center"><button class="btn btn-outline-danger mt-3 mb-3" type="button" style="text-align: center;">Join our Weblate</button></a>
               </div>
               </div>
            </div>
           </div>
           </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                <i class="fas fa-solid fa-comment fa-5x" style="color:#EA580C"></i>
                <h4 class="pt-3 card-title">User Research</h4>
		<p class="card-text">CENO relies on user feedback to understand the needs of our users and to suggest improvements and new features.</p>
		<p>Sharing your story also helps spread the word about CENO, which grows the network. With your consent, we may also highlight your story on our website!</p>
		<p>We welcome reviews on the Play Store as well as direct communications - you can get in touch with the team via the feedback button at the bottom of this website, or send us an email:</p> 
		<p>cenoers [at] equalit [dot] ie</p>
                <div class="d-grid gap-2 justify-content-center">
                <a href="https://survey.censorship.no" style="text-align:center"><button class="btn btn-outline-danger mt-3 mb-3" type="button" style="text-align: center;">Take a survey</button></a>
               </div>
               </div>
              </div>
            </div>
           </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                <i class="fas fa-code fa-5x" style="color:#EA580C"></i>
                <h4 class="pt-3 card-title">Source Code</h4>
		<p class="card-text">If you are interested in CENO's source code please check the following Git repositories:<br/>
        <ul class="list" style="text-align:left">
           <li>Browser components: <a href="https://github.com/censorship-no/ceno-browser">package builder</a>, <a href="https://github.com/censorship-no/gecko-dev/tree/ceno">Firefox fork</a>, <a href="https://
ithub.com/censorship-no/ceno-distribution">included extensions</a>, <a href="https://github.com/censorship-no/ceno-ext-settings">settings extension source</a></li>
           <li><a href="https://github.com/equalitie/ouinet">Ouinet source</a></li></ul></p>
           <p>You may also be interested in the (no longer maintained) <a href="https://github.com/censorship-no-archive/ceno1">previous incarnation of CENO</a>, built on the <a href="https://freenetproject.org/">Freenet</a> anonymous file sharing and content publishing network. Other inactive project-related repositories can be found at the <a href="https://github.com/censorship-no-archive">Censorship.no! archive</a>.</p>
                <div class="d-grid gap-2 justify-content-center">
                <a href="https://github.com/censorship-no" style="text-align:center" target="_blank"><button class="btn btn-outline-danger mt-3 mb-3" type="button" style="text-align: center;">Browse our Github</button></a>
               </div>
            </div>
           </div>
        </div>
       </div>
      </div>
    </div>
   </section>


<section>
<h2><a href="../user-manual/en/browser/bridging.html"> <i class="ml-2 fas fa-project-diagram fa-sm"></i></a> Run a Bridge Node</h2>
    <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <div class="card-body">
		<h4 class="pt-3 card-title">Become a bridge!</h4>
                <img class="mx-auto" src="../img/bridging-0.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Want to help grow the network? Join the swarm!</p>
               </div>
            </div>
           </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <div class="card-body">
		<h4 class="pt-3 card-title">The easy way: Android</h4>
               <img src="../img/bridging-1.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Run CENO Browser on your Android device, and/or a spare, always-on device.</p>
              </div>
             </div>
           </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
		<h4 class="pt-3 card-title">Run the CENO Docker Client</h4>
               <img src="../img/bridging-2.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Alternatively, with just one command you can set up a bridge on your computer or VPS: <code>sudo docker run --name ceno-client -dv ceno:/var/opt/ouinet --network host --restart unless-stopped equalitie/ceno-client</code></p>
              </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
		<h4 class="pt-3 card-title">Open a portal to the internet</h4>
               <img src="../img/bridging-3.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Ensure UPnP is enabled on your router, or set up port forwarding.</p>
              </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
		<h4 class="pt-3 card-title">To see if it's working:</h4>
               <img src="../img/bridging-4.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Create and open a new Firefox Profile, and set the proxy to localhost, port 8077.</p>
              </div>
             </div>
           </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
		<h4 class="pt-3 card-title">Thank you for growing the network!</h4>
               <img src="../img/bridging-5.png" style="text-align:center" width="70%">
                <p class="pt-3 card-text">Install the CENO Web Extension and the provided certificate to test it out!</p>
             </div>
           </div>
        </div>
      </div>

<div class="d-grid gap-2 justify-content-center">
<!-- TRANSLATORS: Replace "en" in the link by your language code if the Manual is available for it. -->
<a href="../user-manual/en/browser/bridging.html" style="text-align:center"><button class="btn btn-outline-danger btn-learnmore mt-3 mb-3" type="button" style="text-align: center;"><span class="fas fa-book"></span>  Learn more about setting up a bridge in the User Manual!</button></a>
</div>
    </div>
</section>
</div>
